{% extends "base.html" %}
{% block title %}Realizar una compra{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'catalogo_celular:productos' %}" class="btn btn-dark mb-4">Continuar comprando</a>
                        <table class="table">
                            <tr>
                                <th><h5>Productos: <strong>3</strong></h5></th>
                                <th><h5>Total: <strong>$300</strong></h5></th>
                                <th>
                                    <a href="{% url 'catalogo_celular:checkout' %}" class="btn btn-success mb-4">Realizar Compra</a>
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="row">
                        <div style="flex: 2;"></div>
                        <div style="flex: 2;"><strong>Producto</strong></div>
                        <div style="flex: 2;"><strong>Precio</strong></div>
                        <div style="flex: 2;"><strong>Cantidad</strong></div>
                        <div style="flex: 2;"><strong>Total</strong></div>
                    </div>
                    {% for producto in productos %}{% endfor %}
                    <div class="row">
                        <div style="flex: 2;"><img src="{{ producto.imagen.url }}" alt=""></div>
                        <div style="flex: 2;"><strong>{{ producto.nombre_producto }}</strong></div>
                        <div style="flex: 2;">{{ producto.precio }}</div>
                        <div style="flex: 2;">
                            <div class="row">
                                <div class="col-lg-2"><p>{{ producto.cantidad }}</p></div>
                                <div class="col-lg-4"><i class="fa-solid fa-caret-up me-2"></i><i class="fa-solid fa-caret-down"></i></div>
                               
                            </div>
                        </div>
                        <div style="flex: 2;">$300</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}