{% extends "base.html" %} 
{% block title %}Productos{% endblock title %} 
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-bordered align-middle">
                    <thead class="table-dark text-center">
                        <tr class="align-middle">
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Detalles</th>
                        {% if user.is_authenticated %}
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody class="text-center align-middle">
                        {% for producto in productos %}
                        <tr class="align-middle">
                        <th scope="row">{{ producto.id }}</th>
                        <td>{{ producto.nombre_producto }}</td>
                        <td>{{ producto.marca }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.cantidad }}</td>
                        <td>{{ producto.categoria }}</td>
                        <td>
                            <a href="detalle_producto/{{ producto.id }}" class="btn btn-sm btn-primary" id="btn_editar_producto">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </td>
                        {% if user.is_authenticated %}
                        <td>
                            <a href="editar_producto/{{ producto.id }}" class="btn btn-sm btn-warning" id="btn_editar_producto">
                            <i class="fa-solid fa-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a href="eliminar_producto/{{ producto.id }}" class="btn btn-sm btn-danger" onclick="return confirmarEliminacion()">
                            <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function confirmarEliminacion() {
            return confirm('¿Estás seguro de que deseas eliminar este producto?');
        }
    </script>
{% endblock content %}
